* {
  /* border: solid black 1px; */
}


.App {
  text-align: center;
}

.App-header {
  background-color: #f6efd5;
  min-height: 10vh;
  display: flex;
  justify-content: space-between;

  /* flex-direction: column; */
  font-size: calc(0.3em + 1vmin);
  color: #333;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.company-information {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0.7rem 0rem 0rem 0rem;
}

.top-nav {
  display: flex;
  margin: 0.7rem 0rem 0rem 0rem;
}

.top-nav nav a {
  margin-right: 0.5rem;
  color: #333; /* Set default text color for unvisited links */
}

.top-nav nav a:visited {
  color: #333; /* Maintain the same color for visited links */
}

.top-nav nav a.active {
  font-weight: bold;
}

.damageCardForm {
  width: 500px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: 180px;
}

.inputContainerItem {
  display: flex;
  flex-direction: column;
  text-align: left;
  /* align-items: center; */
  /* justify-content: start; */
  width: 200px;
  margin: 0rem 0rem 0rem 0rem;
}

.inputContainerItem  > * {

}

input {
  box-sizing: border-box;
  width: 120px;
  display: inline-block;
  padding: 8px 8px;
  border-radius: 4px;
  outline: none;
  border: 1px solidrgba(243, 244, 246, var(--tw-bg-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
input:focus {
  box-shadow: 0 0 5px #8b5cf6;
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
}
button {
  margin-top: 2px;
  width: 100px;
  outline: none;
  padding: 6px 8px;
  border: 1px solid #8b5cf6;
  border-radius: 4px;
  background: rgb(110, 51, 248);
  color: white;
  cursor: pointer;
}
button:hover {
  color: #eee7fe;
  background: #8b5cf6;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}